@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .campaignbay-p-x-page-default {
    @apply campaignbay-px-[12px] md:campaignbay-px-[24px];
  }
  .campaignbay-bg-secondary{
    @apply campaignbay-bg-[#f1f5f9];
  }
  .campaignbay-bg-primary{
    @apply campaignbay-bg-[#3858e9];
  }
  .campaignbay-bg-primary-hovered{
    @apply campaignbay-bg-[#3858ff];
  }
  .campaignbay-text-primary{
    @apply campaignbay-text-[#3858e9];
  }
  .campaignbay-text-primary-hovered{
    @apply campaignbay-text-[#3858e9];
  }
  .campaignbay-gap-default {
    @apply campaignbay-gap-[12px];
  }
  .campaignbay-gap-default-big {
    @apply campaignbay-gap-[12px] xl:campaignbay-gap-[36px];
  }
  .campaignbay-text-default {
    @apply campaignbay-text-[13px] campaignbay-leading-[20px];
  }
  .campaignbay-text-secondary {
    @apply campaignbay-text-[#949494];
  }
  .campaignbay-text-small {
    @apply campaignbay-text-[12px] campaignbay-leading-[16px];
  }
  .campaignbay-border-default {
    @apply campaignbay-border-[#e0e0e0];
  }
  .campaignbay-border-primary {
    @apply campaignbay-border-[#3858e9];
  }
  .campaignbay-border-secondary{
    @apply campaignbay-border-[#f1f5f9];
  }
}


.toplevel_page_campaignbay #wpcontent {
  padding-left: 0;
  background: #f1f5f9;
}
.toplevel_page_campaignbay #wpwrap {
  background: #f1f5f9;
}
.toplevel_page_campaignbay #wpbody-content .notice,
.toplevel_page_campaignbay #wpfooter {
  display: none;
}
#campaignbay {
  font-family: 'SF Pro', 'Segoe UI', Tahoma, Verdana, sans-serif;
  color: #000;
}
#campaignbay *,
#campaignbay *::before,
#campaignbay *::after {
  box-sizing: border-box;
}



  // ==========================================================================
  // Campaign Bay Skeleton Loader Component
  // ==========================================================================

  // --- Base Keyframes Animation for the Shimmer Effect ---
  @keyframes shimmer {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }

  // --- Base Skeleton Class ---
  .campaignbay-skeleton {
    display: block;
    background-color: #e9e9e9;
    position: relative;
    overflow: hidden; // This is crucial for the shimmer effect
    border-radius: 6px;
    & > * {
      opacity: 0;
    }
  }
  .campaignbay-skeleton-animation,
  .campaignbay-skeleton{
    position: relative;
    overflow: hidden;
// The shimmer pseudo-element
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      // A subtle gradient that creates the "shine"
      background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.6) 50%,
        rgba(255, 255, 255, 0) 100%
      );
      transform: translateX(-100%); // Start off-screen
      animation: shimmer 1.5s infinite; // Apply the animation
    }
  }


/* Chrome, Safari, Edge, Opera */
.hide-spin-button::-webkit-outer-spin-button,
.hide-spin-button::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.hide-spin-button[type=number] {
  -moz-appearance: textfield;
}

/* General (optional, for cross-browser consistency) */
.hide-spin-button[type=number] {
  appearance: none;
}



.campaignbay-add-campaigns-modal{
  min-height: 90vh;
}
.campaignbay-add-campaigns-modal-example{
  width: 50%;
  display: none; // Hide on small devices
}

.campaignbay-add-campaigns-modal-grid-cols{
  overflow-y: auto;
  // scrollbar-width: none;
}

.campaignbay-add-campaigns-modal-overlay {
  display: block; // Show overlay on small devices
}

.campaignbay-add-campaigns-modal-grid-item{
    min-height: 170px;
    width: 250px;
    padding-top: 40px;
    border: 1px solid #bdc4d1;
    &:hover{
      transform: translateY(-1px);
    }
  }


@media (min-width: 600px) {
  .campaignbay-add-campaigns-modal{
    min-width: 560px;
    min-height: 400px;
  }
  
  .campaignbay-add-campaigns-modal-grid-cols {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 850px) {
  .campaignbay-add-campaigns-modal{
    min-width: 835px;
  }
  
  .campaignbay-add-campaigns-modal-example{
    display: block; // Show example panel on larger devices
    width: 270px;
  }
  
  .campaignbay-add-campaigns-modal-overlay {
    display: none !important; // Hide overlay on larger devices
  }
  
  .campaignbay-add-campaigns-modal-grid-cols {
    grid-template-columns: repeat(2, 1fr);
  }
  .campaignbay-add-campaigns-modal-grid-item{
    min-height: 136px;
    padding-top: 28px;
  }
}
@media (min-width: 1100px) {
  .campaignbay-add-campaigns-modal{
    min-width: 1080px;
  }
  
  .campaignbay-add-campaigns-modal-grid-cols {
    grid-template-columns: repeat(3, 1fr);
  }
}



@keyframes fadeIn {
            from { opacity: 0; transform: translateY(5px); }
            to { opacity: 1; transform: translateY(0); }
        }
        .animate-fade-in {
            animation: fadeIn 0.3s ease-out forwards;
        }