@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .campaignbay-p-x-page-default {
    @apply campaignbay-px-[12px] md:campaignbay-px-[24px];
  }
  .campaignbay-gap-default {
    @apply campaignbay-gap-[12px];
  }
  .campaignbay-gap-default-big {
    @apply campaignbay-gap-[12px] xl:campaignbay-gap-[36px];
  }
  .campaignbay-text-default {
    @apply campaignbay-text-[13px] campaignbay-leading-[20px];
  }
  .campaignbay-border-default {
    @apply campaignbay-border-[#e0e0e0];
  }
}
.toplevel_page_campaignbay #wpcontent {
  padding-left: 0;
  background: #f1f5f9;
}
.toplevel_page_campaignbay #wpwrap {
  background: #f1f5f9;
}
.toplevel_page_campaignbay #wpbody-content .notice,
.toplevel_page_campaignbay #wpfooter {
  display: none;
}
#campaignbay *,
#campaignbay *::before,
#campaignbay *::after {
  box-sizing: border-box;
  font-family: 'SF Pro', 'Segoe UI', Tahoma, Verdana, sans-serif;
  color: #000;
}



  // ==========================================================================
  // Campaign Bay Skeleton Loader Component
  // ==========================================================================

  // --- Base Keyframes Animation for the Shimmer Effect ---
  @keyframes shimmer {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }

  // --- Base Skeleton Class ---
  .campaignbay-skeleton {
    display: block;
    background-color: #e9e9e9;
    position: relative;
    overflow: hidden; // This is crucial for the shimmer effect
    border-radius: 6px;
    & > * {
      opacity: 0;
    }
  }
  .campaignbay-skeleton-animation,
  .campaignbay-skeleton{
    position: relative;
    overflow: hidden;
// The shimmer pseudo-element
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      // A subtle gradient that creates the "shine"
      background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.6) 50%,
        rgba(255, 255, 255, 0) 100%
      );
      transform: translateX(-100%); // Start off-screen
      animation: shimmer 1.5s infinite; // Apply the animation
    }
  }
